@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1672203255282') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e876";
  font-size: 30px;
  color: aqua;
}

.icon-weixin:before {
  content: "\e607";
  font-size: 30px;
  color: rgb(8, 143, 53);
}
.icon-weixin-sm:before {
  content: "\e607";
  font-size: 20px;
  color: rgb(8, 143, 53);
}

.icon-hanhan-01-01:before {
  content: "\e69a";
}

.icon-hanhan-01-011:before {
  content: "\e69b";
}

.icon-hanhan-01-012:before {
  content: "\e69c";
}

.icon-hanhan-01-013:before {
  content: "\e69d";
}

.icon-hanhan-01-014:before {
  content: "\e69e";
}

.icon-hanhan-01-015:before {
  content: "\e69f";
}

.icon-hanhan-01-016:before {
  content: "\e6a0";
}

.icon-hanhan-01-017:before {
  content: "\e6a1";
}

.icon-hanhan-01-018:before {
  content: "\e6a2";
}

.icon-hanhan-01-019:before {
  padding-left: 4px;
  font-size: 14px;
  content: "\e6a3";
}

.icon-hanhan-01-0110:before {
  content: "\e6a4";
}

.icon-hanhan-01-0111:before {
  content: "\e6a5";
}

.icon-hanhan-01-0112:before {
  content: "\e6a6";
}

.icon-hanhan-01-0113:before {
  content: "\e6a8";
}

.icon-hanhan-01-0114:before {
  content: "\e6ad";
}

.icon-hanhan-01-0115:before {
  content: "\e6ae";
}

.icon-hanhan-01-0116:before {
  content: "\e6af";
}

.icon-hanhan-01-0117:before {
  content: "\e6b0";
}

.icon-hanhan-01-0118:before {
  content: "\e6b6";
}

.icon-hanhan-01-0119:before {
  content: "\e6b7";
}

.icon-hanhan-01-0120:before {
  content: "\e6b9";
}

.icon-hanhan-01-0121:before {
  content: "\e6ba";
}

.icon-hanhan-01-0122:before {
  content: "\e6bb";
}

.icon-hanhan-01-0123:before {
  content: "\e6bc";
}

.icon-hanhan-01-0124:before {
  content: "\e6c1";
}

.icon-hanhan-01-0125:before {
  content: "\e6c2";
}

.icon-github-fill:before {
  content: "\eac8";
  font-size: 30px;
}

